/* AM Small screen checkout header */

.header-minimal-back-to-shop-button {
    margin-top: 1rem;
    width: 100%;
}

.header-minimal-contact {
    margin-top: 1rem;
    display: block !important;
}

.checkout {
    padding-top: 0 !important;
}

/* +AM Navigation checkout */
.container-no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* +AM Weiter-Button */
.register-submit {
    float:left;
}

/* +AM checkout-aside - defaults überschreiben, Zusammenfassung soll über die ganze Breite dargestellt werden */
@media (min-width: 1200px) {
    .checkout-aside {
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        flex-basis: 33.333333% !important;
        max-width: 33.333333% !important;
        margin-left: 0 !important;
    }
}

/* +AM nav-tabs sind nicht gleich hoch, wenn der Nav-Text nicht die gleichen Zeilenanzahl hat. Hiermit sind die Tabs gleich hoch */
.nav-tabs .nav-link {
    height: 100%;
}