/* +AM Hover-Effekt auch auf Filter-Buttons */

.custom-filter {
    cursor: pointer;

    &:invalid {
        color: $input-placeholder-color;
    }

    &:hover {
        border-color: $primary;
        color: $primary;
    }
}