.breadcrumb.cms-breadcrumb {
    padding-left: 20px;
    padding-right: 20px;
}

/*.breadcrumb li:first-child::before {
    content: "X";
}*/

/* +AM Breadcrumbs wird scrollbar gemacht, falls zu lang für die Bildschirm-Breite, bei < 576px */
/*@include media-breakpoint-down(md) {
    .breadcrumb {
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .breadcrumb-title {
        white-space: nowrap;
    }
}*/

/* .breadcrumb {
    white-space: nowrap;
    overflow: scroll;
    background-color: yellow;
}

.cbax-breadcrumb-menu-outer {
    position: relative;
    z-index: 10000;
}*/